<section class="container">
<main role="main" class="container">
= simple_form_for @profile do |f|
  = f.input :image
  = f.input :about_me, label: 'About Me'
  = f.input :strengths, label: 'Strengths (Write in points, minimum 3)'
  = f.input :weakness, label: 'Weaknesses (Write in points, minimum 3)'
  = f.input :seniority, label: 'Seniority (Current Year in Hostel) (Integer Input)', input_html: { min: '1'}
  = f.input :age, label: 'Age (Integer Input)', input_html: { min: '10'}
  = f.input :education, label: 'Education (Eg. 3rd Year Mechanical Engineer at VJTI)'
  = f.input :nick_name, label: 'Nick Name'
  = f.input :room, label: 'Room Number'
  = f.input :phone, label: 'Mobile'
  = f.input :availability, label: 'Availability (Eg. Present Throughout, Leave on "25/01/18") (Academic timings would be taken care of during event scheduling)'
  = f.button :submit,  class: "btn btn-primary"
</main>
<br>
<br>
</section>
