= simple_form_for @profile, :url => profile_path do |f|
  = f.input :about_me
  = f.input :strengths
  = f.input :weakness
  = f.input :seniority
  = f.input :age
  = f.input :education
  = f.input :nick_name

  = f.button :submit
