- if user_signed_in?
	%p#intro
		Hello
		= current_user.name
		%br/
		%span
			Share your inspiration and see what's inspiring others.
- else
	%p#intro
		What's your pinnacle?
		%br/
		%span
			Share your inspiration and see what's inspiring others.
#posts
	- @profiles.each do |profile|
		.post
			.post_content
				%h2= link_to profile.user.name, profile_id_path(profile.id)
				.about_me
				.data.clearfix
					%h3 About Me
					= profile.about_me
				.data.clearfix
					%h3 My Strengths
					= profile.strengths
				.data.clearfix
					%h3 My Weakness
					= profile.weakness
				.data.clearfix
					%h3 Seniority
					= profile.seniority
				.data.clearfix
					%h3 Age
					= profile.age
				.data.clearfix
					%h3 Education
					= profile.education
				.data.clearfix
					%h3 Nick Name
					= profile.nick_name
				.data.clearfix
					%p.username
						Shared by
						= profile.user.name
