<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Hey <%=
    if user_signed_in?
      current_user.name + "!"
    end
    %></h1>
    <p class="lead text-muted">Our fellow Pinnacle participants</p>
  </div>
</section>

<br>
<br>
<br>

<section class="container">
  <div class="row active-with-click">
    <% @profiles.each do |profile| %>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Grey1">
                <h2>
                    <span><a href="<%= profile_path(profile)%>"><%= profile.user.name %></a></span>
                    <strong>
                      <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                      <p style="display: inline;"><%= time_ago_in_words(profile.created_at)%> ago</p>
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <a href="<%= profile_path(profile)%>"><img class="img-responsive" style="height: 280px; width: 100%; display: block;" src="<%= profile.image%>"></a>
                    </div>
                    <div class="mc-description">
                        <%= simple_format(profile.about_me)%>
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
            </article>
        </div>
      <% end %>
    </div>
</section>
