- @profile.each do |profile|
  %h2= profile.about_me
  = profile.user.name
  = profile.strengths
  = profile.weakness
  = profile.seniority
  = profile.age
  = profile.education
  = profile.nick_name
