<style>

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 1rem;
}
.sidebar-module-inset {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: .25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}
.side-random a {
  color: white;
}
.side-random {
  margin-left: 20px;;
  padding: 10px;
  margin-top: 50px;
  border-radius: 5px;
  margin-bottom: 20px;
}
</style>

<main role="main" class="container">
      <div class="row">
        <div class="col-sm-8 blog-main">
          <div class="blog-post">
            <h1 class="blog-post-title"><%= @profile.user.name %></h1>
            <p class="blog-post-meta"><%= time_ago_in_words(@profile.created_at)%> ago</a></p>
            <hr>
            <div class="post_image_description">
              <img src="<%= @profile.image%>">
            </div>
            <hr>
            <h3>About Me</h3>
            <p><%= simple_format(@profile.about_me)%></p>
            <h3>Nick Name</h3>
            <p><%= @profile.nick_name%></p>
            <h3>Strengths</h3>
            <p><%= simple_format(@profile.strengths)%></p>
            <h3>Weaknesses</h3>
            <p><%= simple_format(@profile.weakness)%></p>
            <h3>Seniority</h3>
            <p><%= @profile.seniority%></p>
            <h3>Age</h3>
            <p><%= @profile.age%></p>
            <h3>Education</h3>
            <p><%= simple_format(@profile.education)%></p>
            <h3>Availability</h3>
            <p><%= simple_format(@profile.availability)%></p>
            <h3>Room Number</h3>
            <p><%= simple_format(@profile.room)%></p>
            <hr>
          <% if current_user %>
            <% if current_user.usertype == "Admin" %>
              <%= simple_form_for @profile do |f|%>
                <h3><%= f.input :team_id, collection: @teams, label_html: { style: "font-weight: inherit;" } %></h3>
                <%= f.input :source, as: :hidden, input_html: { value: "change_team" } %>
                <%= f.button :submit,  class: "btn btn-primary" %>
              <% end %>
            <hr>
            <% end %>
            <% if current_user.usertype == "Admin" %>
              <%= link_to "Edit Profile", edit_profile_path, class: "btn btn-primary" %>
            <% elsif current_user.profile %>
              <% if current_user.profile.id == @profile.id %>
                <%= link_to "Edit Profile", edit_profile_path, class: "btn btn-primary" %>
              <% end %>
            <% end %>
          <% end %>
          <br>
          <br>
          <br>

          </div><!-- /.blog-post -->
        </div><!-- /.blog-main -->
        <% if @random_participant %>
          <aside class="col-sm-4 ml-sm-auto blog-sidebar">
            <div class="card text-white bg-primary side-random">
              <div class="card-body">
              <strong><p>Random Participant</p></strong>
              <hr>
              <h3><a href="<%= profile_path(@random_participant)%>"><%= @random_participant.user.name%></a></h3>
              <footer><p>People call me <i><%= @random_participant.nick_name%></i></p></footer>
              </div>
          </div>
        <% end %>
      </div><!-- /.row -->

    </main><!-- /.container -->
