<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Hey <%=
    if user_signed_in?
      current_user.name + "!"
    end
    %></h1>
    <p class="lead text-muted">Detailed Scoreboard</p>
  </div>
</section>

<br>
<br>
<br>
<section class="container">
  <div class="row">
    <h2>Scoreboard History</h2>
  </div>
  <br>
  <ul>
  <% if @scoreboards!=nil %>
    <% @scoreboards.each do |profile| %>
          <h3>Team <i><%= link_to profile.team.name, team_path(profile.team) %></i> was awarded with <i><%= profile.currentscore %></i>MB for event <i><%= profile.post.title %></i></h3>
          <% if user_signed_in? %>
           <% if current_user.usertype == "Admin" %>
             <%= link_to "Edit", edit_scoreboard_path(profile), class: "data btn btn-primary" %>
             <%= link_to "Delete", scoreboard_path(profile), method: :delete, data: { confirm: "Are you sure?" }, class: "data btn btn-primary" %>
           <% end %>
          <% end %>
        <br>
      <% end %>
    </ul>
  <% end %>
  <% if user_signed_in? %>
    <% if current_user.usertype == "Admin" %>
      <%= link_to "+", new_scoreboard_path, class: "data btn btn-primary"%><br>
    <% end %>
  <% end %>
  <br>
  <%= link_to "Leaderboard", originalscoreboard_path, class: "data btn btn-primary" %>
  <br><br>
  <%= link_to "Betting Leaderboard", leaderboard_betting_path, class: "data btn btn-primary" %>
  <br>
  <br>
  <br>
</section>
<br>
<br>
