<style>

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 1rem;
}
.sidebar-module-inset {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: .25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}
.side-random a {
  color: white;
}
.side-random {
  margin-left: 20px;;
  padding: 10px;
  margin-top: 50px;
  border-radius: 5px;
  margin-bottom: 20px;
}
</style>

<main role="main" class="container">
  <div class="row">
    <div class="col-sm-8 blog-main">
      <div class="blog-post">
        <h1 class="blog-post-title"><%= @headline.title %></h1>
        <p class="blog-post-meta"><%= "Shared by PMC, " + time_ago_in_words(@headline.created_at) + " ago"%></a></p>
        <hr>
        <p><%= @headline.description %></p>
        <hr>


      </div><!-- /.blog-post -->
    </div><!-- /.blog-main -->
</div><!-- /.row -->
<br>
<%= link_to "Back to All News", headlines_path, class: "data btn btn-primary" %>
<br>
<br>
<%= link_to "Buy Stocks", new_ostock_path, class: "data btn btn-primary" %>
<br>
<br>
<%= link_to "Portfolio", ostocks_path, class: "data btn btn-primary" %>
<br>

</main><!-- /.container -->
