- if user_signed_in?
	%p#intro
		Hello
		= current_user.name
		%br/
		%span
			PMC welcomes you to Pinnacle '18
		%br/
		%span
			Lets get started!
- else
	%p#intro
		Welcome to Pinnacle '18
		%br/
		%span
			Lets get started!
#posts
	- @posts.each do |post|
		.post
			.post_image
				= link_to (image_tag post.image.url(:small)), post
			.post_content
				.title
					%h2= link_to post.title, post
				.data.clearfix
					%p.username
						Shared by
						= post.user.name
					%p.buttons
						%span
							%i.fa.fa-comments-o
							= post.comments.count
						%span
							= link_to like_post_path(@post), method: :get, class: "data" do
								%i.fa.fa-thumbs-o-up
								= post.get_likes.size
