<style>

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 1rem;
}
.sidebar-module-inset {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: .25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}
.side-random a {
  color: white;
}
.side-random {
  margin-left: 20px;;
  padding: 10px;
  margin-top: 50px;
  border-radius: 5px;
  margin-bottom: 20px;
}
</style>

<main role="main" class="container">
  <div class="row">
    <div class="col-sm-8 blog-main">
      <div class="blog-post">
        <h1 class="blog-post-title"><%= @post.title %></h1>
        <p class="blog-post-meta"><%= "Shared by " + @post.user.name + " ," + time_ago_in_words(@post.created_at) + " ago"%></a></p>
        <hr>
        <div class="post_image_description">
          <img src="<%= @post.image.url(:medium)%>">
        </div>
        <hr>
        <p><%= simple_format(@post.description)%></p>
        <hr>


      </div><!-- /.blog-post -->
    </div><!-- /.blog-main -->
    <aside class="col-sm-4 ml-sm-auto blog-sidebar ">
      <div class="card text-white bg-primary side-random">
        <div class="card-body">
          <%= @post.duration %>
        </div>
      </div>
      <div class="card text-white bg-primary side-random">
        <div class="card-body">
          <%= link_to like_post_path(@post), method: :get, class: "data", title: "Like" do %>
          <i class="fa fa-thumbs-o-up"></i>
          <%= pluralize(@post.get_upvotes.size, "Like") %>
          <%end%>
          <br>
          <%= link_to dislike_post_path(@post), method: :get, class: "data", title: "Dislike" do %>
          <i class="fa fa-thumbs-o-down"></i>
          <%= pluralize(@post.get_downvotes.size, "Dislike") %>
          <%end%>
          <br>
          <p div="data">
            <i class="fa fa-comments-o"></i>
            <%= pluralize(@post.comments.count, "Comment") %>
          </p>
        </div>
      </div>
      <% if @random_post %>
      <div class="card text-white bg-primary side-random">
        <div class="card-body">
          <strong><p>Random Event</p></strong>
          <hr>
          <%= link_to (image_tag @random_post.image.url(:medium)), post_path(@random_post) %>
          <h3><a href="<%= post_path(@random_post)%>"><%= @random_post.title%></a></h3>
        </div>
      </div>
      <% end %>
      <% if current_user %>
      <div class="card text-white bg-primary side-random">
        <div class="card-body">
          <% if @post.user == current_user || current_user.usertype == "PMC" || current_user.usertype == "Admin" %>
          <%= link_to "Edit", edit_post_path(@post), class: "data btn btn-primary"%><br><br>
          <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "data btn btn-primary"%>
          <%end%>
        </div>
      </div>
      <%end%>
  </aside>
</div><!-- /.row -->



<div id="comments">
  <h2 class="comment_count"><%= pluralize(@post.comments.count, "Comment")%></h2>
  <% @comments.each do |comment|  %>
  <div class="comment">
    <h4>
      <%= comment.user.name + " (" + comment.user.usertype + ")" %>
    </h4>
    <p>
      <%= comment.content %>
    </p>
  </div>
  <% end%>
  <%= render "comments/form" %>
</div>
</main><!-- /.container -->
