<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Hey <%=
    if user_signed_in?
      current_user.name + "!"
    end
    %></h1>
    <p class="lead text-muted">Hidden Points Transactions for <%=
    current_user.teamowner.team.name + "!"
    %></p>
  </div>
</section>

<br>
<br>
<br>
<section class="container">
  <div class="row">
    <h2>Hidden Transactions</h2>
  <h4><%= "Hidden Points Left : " + current_user.teamowner.hidden_points.to_s + "MB" %><h4>
  </div>
  <br>
  <ul>
  <% if @hiddens!=nil %>
    <% @hiddens.each do |profile| %>
      <div class="row active-with-click"><h4>You bet <i><%= profile.amount %>MB</i> on team <i><%= profile.teamowner.team.name %></i> for event <i><%= profile.post.title %></i> at <%= profile.created_at.to_formatted_s(:short)  %></h4>
      </div>
      <br>
    <% end %>
    </ul>
    <%= link_to "+", new_hidden_path, class: "data btn btn-primary"%><br><br>
  <% end %>
  <br>
  <br>
</section>
<br>
<br>
