<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Hey <%=
    if user_signed_in?
      current_user.name + "!"
    end
    %></h1>
    <p class="lead text-muted">Hidden Points Transactions for <%=
    current_user.teamowner.team.name + "!"
    %></p>
  </div>
</section>

<br>
<br>
<br>
<section class="container">
  <div class="row">
    <h2>Hidden Viruses</h2>
  <h4><%= "Hidden Virus Left : " + current_user.teamowner.hidden_virus.to_s%><h4>
  </div>
  <br>
  <ul>
  <% if @viri!=nil %>
    <% @viri.each do |profile| %>
      <% if profile.teamowner == current_user.teamowner %>
        <div class="row active-with-click"><h4>You planted virus on team <i><%= profile.team.name %></i> for event <i><%= profile.post.title %></i> at <%= profile.created_at.in_time_zone('Kolkata').to_formatted_s(:short)  %></h4>
        </div>
        <br>
      <% end %>
    <% end %>
    </ul>
    <%= link_to "+", new_virus_path, class: "data btn btn-primary"%><br><br>
  <% end %>
  <br>
  <br>
</section>
<br>
<br>
