!!!
%html
  %head
    %title Pinnacle
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:rel => "stylesheet", :href => "http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"}
    %link{:rel => "stylesheet", :href => "http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"}

%body
  %header
    .wrapper.clearfix
      #logo= link_to "Pinnacle", root_path
      %nav
        - if user_signed_in?
          = link_to current_user.name, edit_user_registration_path
          = link_to "Add New Event", new_post_path, class: "button"
        - else
          = link_to "Sign in", new_user_session_path
          = link_to "Sign Up", new_user_registration_path, class: "button"
  %p.notice= notice
  %p.alert= alert
  .wrapper
    = yield
