!!!
%html
  %head
    %title Pinnacle '18
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => "image/x-icon"
    %link{:rel => "stylesheet", :href => "http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/2381ad128c.js"></script>
    <script src="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.css">


%body
  %header
    .wrapper.clearfix
      #logo= link_to "Pinnacle '18", root_path
      %nav
        - if user_signed_in?
          = link_to "Account", edit_user_registration_path, class: "button"
        = link_to "All Participants", profiles_path, class: "button"
        - if user_signed_in?
          - if current_user.usertype == "PMC" || current_user.usertype == "Admin"
            = link_to "Add New Event", new_post_path, class: "button"
          - if current_user.usertype == "Participant" || current_user.usertype == "Owner"
            = link_to "Pinnacle Profile", new_profile_path, class: "button"
          = link_to "Log Out", destroy_user_session_path, :method => :delete, class: "button"

        - else
          = link_to "Sign in", new_user_session_path, class: "button"
          = link_to "Sign Up", new_user_registration_path, class: "button"
  .wrapper
    %p.notice= notice
    %p.alert= alert
    = yield
