!!!
%html
  %head
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109763758-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-109763758-1');
    </script>
    %title Pinnacle '18
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css" crossorigin="anonymous">
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => "image/x-icon"
    <meta name="viewport" content="width=device-width, initial-scale=1">
    %link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"}
    -# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/2381ad128c.js"></script>
    -# <script src="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.js"></script>
    -# <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>

%body
  %header
    %nav.navbar.navbar-default
      .container-fluid.container
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "Pinnacle '18", root_path, class: "navbar-brand"
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              = link_to "Events", root_path
            %li
              = link_to "Participants", profiles_path
            %li
              = link_to "Owners", teamowners_path
            %li
              = link_to "PMC", pmcmembers_path

          %ul.nav.navbar-nav.navbar-right
            %li
              - if user_signed_in?
                %li
                  - if current_user.usertype == "PMC" || current_user.usertype == "Admin"
                    = link_to "Add New Event", new_post_path
                %li.dropdown
                  %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                    My Account
                    %span.caret
                  %ul.dropdown-menu{:role => "menu"}
                    %li
                      = link_to "Edit Account", edit_user_registration_path
                    %li.divider
                    %li
                      - if current_user.usertype == "Participant"
                        = link_to "My Pinnacle Profile", new_profile_path
                      - if current_user.usertype == "Owner"
                        = link_to "My Owner Profile", new_teamowner_path
                      - if current_user.usertype == "PMC"
                        = link_to "My PMC Profile", new_pmcmember_path
                    %li.divider
                    %li
                      = link_to "Log Out", destroy_user_session_path, :method => :delete
              - else
                %li
                  = link_to "Sign In", new_user_session_path
                %li
                  = link_to "Sign Up", new_user_registration_path
  .wrapper
    - if notice
      .alert.alert-dismissible.alert-success
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Well Done!</strong>
        = notice
    - if alert
      .alert.alert-dismissible.alert-warning
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Warning!</h4>
        = alert
    = yield
